.App-body {
    font-size: calc(10px + 2vmin);
    height: auto;
    color: #282c34;
  }
  
  .App-body p {
    padding: 40px;
  }
  
  .App-body label {
    display: block;
    margin-top: 10px;
  }
  
  .App-body input {
    margin-top: 5px;
  }
  
  .App-body button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #e45023;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .App-body button:hover {
    background-color: #4CAF50;
  }